.metabolisme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.metabolisme_box {
  padding: 5% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
}
.metabolisme_box img {
  width: 30%;
  aspect-ratio: 6/4;
}
.metabolisme_infos {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;

  /* identical to box height, or 120% */

  color: #282d30;
}
.metabolisme_infos span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #74798c;
}
